.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordionBack{
  background-color: white !important;
  border:none !important;
}
.cardBack{
  border:none
}
.labelColor{
  color:#0365ab;
}
.hotelName{
font-size:22;
font-weight:600;
 color:"#f24413"
}
.bar-inner-right{
  background-color: #f24413;
}
.bar-inner-left{
  background-color: #f24413;
}
.multi-range-slider{
  border: none;
  box-shadow: none;
}